body {
  font-family: "Futura", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.column,
.columns {
  width: 25%;
  float: left;
  box-sizing: border-box; }

a:hover {
  text-decoration: underline;

}

#title {
  font-size: 26px;
  margin: 10px 0 80px 0;
  color: black;
  text-decoration: none;
}

#results {
  margin-top: 3%;
  margin-left: 25%;
}

#search-button{
  margin-top: 3%;
}

#options,#select, #submit-button, #search-button {
  font-size: 12px;
  font-family: Futura, sans-serif;
}

a {
  padding: 0px;
  text-decoration: none;
  color: black;
}


.link {
  color:  #CE7082;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.options {
  padding-bottom: 5px;
  list-style: none;
}


